<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../images/logo-unus.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <script src="../../js/jquery-3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/notif.css">
    <script src="../../js/base.js"></script>
    <title>UNUS - Add Uang</title>
</head>
<body>
<div id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>

<div class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="../../images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
        <li><a th:href="@{/notes}">Notes</a></li>
        <li><a th:href="@{/split-bill}">Split Bill</a></li>
        <li><a th:href="@{/saku}">Dompet</a></li>
        <li><a th:href="@{/}">Home</a></li>

    </ul>
</div>

<div class="py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-7">
                <div class="container container-notif">

                    <div class="row">
                        <div class="text-center mx-auto col-md-12">
                            <h1 class="mb-4">Tambah Uang!</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card text-center mx-auto col-md-12">

                            <form class="container-form" th:action="@{'/uangs/add-uang'}" th:object="${newUang}" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" th:field="${newUang.nameOfFintech}" id="title-notif" placeholder="CASH/OVO/DANA/GOPAY">
                                    <input type="number" class="form-control" th:field="${newUang.amountOfMoney}" id="amount-money" placeholder="Amount Of Money">
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block">Tambahkan</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p id="hub">Hubungi kami:</p>
    <div class="logo">
        <a href="https://id-id.facebook.com/"><img class="logo-item" src="../../images/FB.png" alt="FB"></a>
        <a href="https://www.instagram.com/"><img class="logo-item" src="../../images/IG.png" alt="IG"></a>
        <a href="https://id.linkedin.com/"><img class="logo-item" src="../../images/LinkedIN.png" alt="IN"></a>
        <a href="https://wa.me/"><img class="logo-item" src="../../images/WA.png" alt="WA"></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="../../js/popper/popper.min.js"></script>
<script src="../../js/bootstrap/bootstrap.min.js"></script>
</body>
</html>