<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo-unus.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/jquery-3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/SplitBill.css">
    <script src="./js/base.js"></script>
    <script src="./js/SplitBill.js"></script>
    <title>UNUS - Split Bill</title>
</head>
<body>
<div id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>

<div class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="./images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/register}">Register</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/notes}">Notes</a></li>
        <li><a class="active">Split Bill</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/saku}">Dompet</a></li>
        <li><a th:href="@{/}">Home</a></li>
        
    </ul>
</div>

<div class="container-fluid" id="container-split-bills">
    <div class="row">
        <div class="container container-content-sb">
            <p>Masukkan Jumlah Item: (antara 1 s.d. 100)</p>
            <input type="number" min="1" max="100" class="form-control" id="input-jml-item" placeholder="Masukkan angka">
            <button type="button" class="btn btn-primary" id="btn-jml-item">Enter</button>
        </div>

        <div class="container container-content-sb">
            <div id="container-harga-asli"></div>
            <button type="button" class="btn btn-primary" id="btn-harga-asli">Enter</button>
        </div>

        <div class="container container-content-sb" id="container-diskon">
            <p id="teks-harga-total">Masukkan Harga Total Setelah Diskon :</p>
            <input type="number" class="form-control" id="input-harga-diskon" placeholder="Masukkan angka">
            <button type="button" class="btn btn-primary" id="btn-harga-diskon">Enter</button>
        </div>

        <div class="container container-content-sb" id="container-hasil">
            <div class="card" id="card-hasil">
                <div class="card-header">
                    Hasil Penghitungan
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="container-harga-diskon"></ul>
                    <button type="button" class="btn btn-primary" id="btn-reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <p id="hub">Hubungi kami:</p>
    <div class="logo">
        <a href="https://id-id.facebook.com/"><img class="logo-item" src="./images/FB.png" alt="FB"></a>
        <a href="https://www.instagram.com/"><img class="logo-item" src="./images/IG.png" alt="IG"></a>
        <a href="https://id.linkedin.com/"><img class="logo-item" src="./images/LinkedIN.png" alt="IN"></a>
        <a href="https://wa.me/"><img class="logo-item" src="./images/WA.png" alt="WA"></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/popper/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>