<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo-unus.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <script src="js/jquery-3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/base.js"></script>
    <title>UNUS - Page Title</title>
</head>
<body>
<div th:fragment="loader" id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>

<div th:fragment="nav" class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="./images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/notes}">Notes</a></li>
        <li><a th:href="@{/split-bill}">Split Bill</a></li>
        <li><a th:href="@{/saku}">Dompet</a></li>
        <li><a class="active">Home</a></li>

    </ul>
</div>

<!-- Insert the Content here -->

<div th:fragment="footer" class="footer">
    <p id="hub">Hubungi kami:</p>
    <div class="logo">
        <a href="https://id-id.facebook.com/"><img class="logo-item" src="./images/FB.png" alt="FB"></a>
        <a href="https://www.instagram.com/"><img class="logo-item" src="./images/IG.png" alt="IG"></a>
        <a href="https://id.linkedin.com/"><img class="logo-item" src="./images/LinkedIN.png" alt="IN"></a>
        <a href="https://wa.me/"><img class="logo-item" src="./images/WA.png" alt="WA"></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/popper/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>