<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="User/base.html :: headerfiles">
    <title>UNUS - Hello</title>
</head>
<body>
<div th:fragment="loader" id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>

<div th:fragment="nav" class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="./images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/register}">Register</a></li>
        <li><a sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" th:href="@{/split-bill}">Split Bill</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/dompet}">Dompet</a></li>
        <li><a th:href="@{/}">Home</a></li>
        <li>
            <form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
            </form>
        </li>
    </ul>
</div>

<!-- Insert the Content here -->
<p>Hello, </p>
<p sec:authorize="isAuthenticated()">
    <span>Username : </span><span sec:authentication="name"></span>
</p>
<p sec:authorize="isAuthenticated()">
    <span>Authorities : </span><span sec:authentication="principal.authorities"></span>
</p>

<div th:fragment="footer" class="footer">
    <p id="hub">Hubungi kami:</p>
    <div class="logo">
        <a href="https://id-id.facebook.com/"><img class="logo-item" src="./images/FB.png" alt="FB"></a>
        <a href="https://www.instagram.com/"><img class="logo-item" src="./images/IG.png" alt="IG"></a>
        <a href="https://id.linkedin.com/"><img class="logo-item" src="./images/LinkedIN.png" alt="IN"></a>
        <a href="https://wa.me/"><img class="logo-item" src="./images/WA.png" alt="WA"></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/popper/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
</body>
</html>