<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="User/base.html :: headerfiles">
    <title>Register</title>
</head>
<div id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>
<div class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="./images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a th:href="@{/login}">Login</a></li>
        <li><a class="active" th:href="@{/register}">Register</a></li>
        <li><a th:href="@{/notes}">Notes</a></li>
        <li><a th:href="@{/split-bill}">Split Bill</a></li>
        <li><a th:href="@{/saku}">Dompet</a></li>
        <li><a th:href="@{/}">Home</a></li>
    </ul>
</div>
<body>
    <h1 th:text="Registrasi"></h1>
    <form th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label for="username">username</label>
            <input id="username" name="username" type="username" th:field="*{username}"/>
            <p th:each="error : ${#fields.errors('username')}"
              th:text="${user.username}">Validation error</p>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
              th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="matchingPassword">Konfirmasi Password :</label>
            <input id="matchingPassword" name="matchingPassword" type="password" th:field="*{matchingPassword}"/>
        </div>
        <span th:text="${message}"></span>
        <button id="submit-button" type="submit" th:text="Submit"></button>
    </form>
     
    <a th:href="@{/login}" th:text="Login"></a>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script th:src="@{~/js/popper/popper.min.js}"></script>
    <script th:src="@{~/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{~/js/account/register.js}"></script>
</body>
<html>