<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" href="./images/logo-unus.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/base.js"></script>
    <title>UNUS - Page Title</title>
</head>
<body>
<div id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>

<div class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="./images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
        <li><a sec:authorize="isAnonymous()" class="active" th:href="@{/register}">Register</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/notes}">Notes</a></li>
        <li><a th:href="@{/split-bill}">Split Bill</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/saku}">Dompet</a></li>
        <li><a th:href="@{/}">Home</a></li>

    </ul>
</div>

<!-- Insert the Content here -->
<div class="container">
    <div>
        <h1 th:text="Registrasi"></h1>
        <div id="feedback" class="my-4"></div>
        <form enctype="utf8">
            <div class="form-group row">
                <label class="col-sm-3" for="username">Username</label>
                <span class="col-sm-5"><input id="username" class="form-control" name="username" value="" required/></span>
                <span id="usernameValid" class="alert alert-success col-sm-4" style="display:none"></span>
                <span id="usernameError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" for="password">Password</label>
                <span class="col-sm-5"><input id="password" type="password" class="form-control" name="password" value="" required/></span>
                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3" for="matchingPassword">Konfirmasi Password</label>
                <span class="col-sm-5"><input id="matchingPassword" type="password" class="form-control" name="matchingPassword" value="" required/></span>
                <span id="matchingPasswordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div class="footer">
    <p id="hub">Hubungi kami:</p>
    <div class="logo">
        <a href="https://id-id.facebook.com/"><img class="logo-item" src="./images/FB.png" alt="FB"></a>
        <a href="https://www.instagram.com/"><img class="logo-item" src="./images/IG.png" alt="IG"></a>
        <a href="https://id.linkedin.com/"><img class="logo-item" src="./images/LinkedIN.png" alt="IN"></a>
        <a href="https://wa.me/"><img class="logo-item" src="./images/WA.png" alt="WA"></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script th:src="@{~/js/account/register.js}"></script>
</body>
</html>