<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/logo-unus.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script src="/js/jquery-3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/base.js"></script>
    <title>UNUS - Home Page</title>
</head>
<body>
<div id="loader">
    <div style="height: 100vh;">
        <h1>LOADING...</h1>
    </div>
</div>

<div class="navbar">
    <ul>
        <li class="logo-navbar"><img id="logo-navbar-img" src="./images/logo-unus.png" alt="UNUS"></li>
        <li class="logo-navbar">UNUS</li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/register}">Register</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/notes}">Notes</a></li>
        <li><a th:href="@{/split-bill}">Split Bill</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/saku}">Dompet</a></li>
        <li><a class="active">Home</a></li>
    </ul>
</div>

<div class="container">
    <h1>Apa itu UNUS?</h1>
</div>
<div class="container">
    <p>UNUS adalah sebuah aplikasi yang akan membantu anda untuk mengelola keuangan anda.
    UNUS sendiri merupakan singkatan dari Urusan Ngelola Uang jadi Simple.
    Harapan kami, dengan adanya UNUS ini, anda dapat mengelola berbagai macam akun keuangan
    yang anda miliki hanya dalam satu aplikasi ini.</p>
</div>
<div class="container">
    <h1>Apa saja fitur UNUS?</h1>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">Dompet</div>
        <div class="card-body">Dompet pada UNUS ibarat dompet yang anda bawa kemanapun sehari-hari.
        Di dalamnya bisa menyimpan 4 jenis uang yaitu CASH, DANA, OVO, dan GOPAY.</div>
    </div>
    <div class="card">
        <div class="card-header">Notes</div>
        <div class="card-body">Jika anda ingin membuat catatan mengenai apa saja yang akan anda lakukan terutama di bidang
            keuangan seperti ingin transfer ke keluarga tercinta, ingin membayar tagihan,
        bahkan mungkin ingin mengingat hari ulang tahun seseorang sekalipun, UNUS dapat mengingatkan anda
            melalui tulisan yang anda buat pada fitur Notes. </div>
    </div>
    <div class="card">
        <div class="card-header">Split bill</div>
        <div class="card-body">Jika anda sedang bepergian ke suatu tempat bersama teman-teman anda, biasanya anda akan
        pergi ke sebuah tempat makan atau kafe untuk menghabiskan waktu bersama. Jika memesan pada
        tempat makan tersebut, pastilah membutuhkan uang. Ada kalanya tempat makan tersebut
        menyediakan promo jika transaksi anda melewati sekian ribu rupiah. Dengan adanya fitur split bill,
        anda dapat menyatukan tagihan agar mendapatkan promo, kemudian anda dan teman-teman anda tahu
        harus mengeluarkan berapa dalam tagihan yang terkumpul tersebut.</div>
    </div>
</div>


<div class="footer">
    <p id="hub">Hubungi kami:</p>
    <div class="logo">
        <a href="https://id-id.facebook.com/"><img class="logo-item" src="./images/FB.png" alt="FB"></a>
        <a href="https://www.instagram.com/"><img class="logo-item" src="./images/IG.png" alt="IG"></a>
        <a href="https://id.linkedin.com/"><img class="logo-item" src="./images/LinkedIN.png" alt="IN"></a>
        <a href="https://wa.me/"><img class="logo-item" src="./images/WA.png" alt="WA"></a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="/js/popper/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>